@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

html { 
    font-size: 14px !important; 
}
:root {
    --background: rgba(255, 255, 255, 1);
    --foreground: rgba(35, 58, 65, 1);

}

body {
    background: var(--background);
    color: var(--foreground);
}

* {
    box-sizing: border-box;
    font-family: "Poppins" !important;
}
@keyframes typing {
    0% {
        width: 0%;
        visibility: hidden;
    }
    100% {
        width: 100%;
    }
}


/* 1440px (standard desktop, MacBook Pro 14/16) */
@media (min-width: 1440px) {
  html {
    font-size: 20px !important;
  }
}

/* 1920px (Full HD monitor) */
@media (min-width: 1920px) {
  html {
    font-size: 25px !important;
  }
}

/* 2560px (QHD / 2K monitor, common gaming monitors) */
@media (min-width: 2560px) {
  html {
    font-size: 35px !important;
  }
}

/* 3440px (Ultrawide 34") */
@media (min-width: 3440px) {
  html {
    font-size: 40px !important;
  }
}

/* 3840px (4K UHD) */
@media (min-width: 3840px) {
  html {
    font-size: 45px !important;
  }
}

/* 5120px (5K Retina Display / Ultra-Wide) */
@media (min-width: 5120px) {
  html {
    font-size: 50px !important;
  }
}
@keyframes blink {
    50% {
        background-color: transparent;
    }
    100% {
        background-color: white;
    }
}

.animate-blink {
    animation: blink 1s steps(20) infinite;
}

.animate-typing {
    animation: typing 2s steps(20) infinite;
}
